/.vs
/RRViewer1/bin/Debug
/RRViewer1/bin/Release
/RRViewer1/obj/Debug
/RRViewer1/obj/Release
/UnitTestProject1/bin/Debug
/UnitTestProject1/bin/Release
/UnitTestProject1/obj/Debug
/UnitTestProject1/obj/Release
