<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotSpatial.Projections" version="4.0.656" targetFramework="net472" />
  <package id="JetBrains.Annotations" version="2022.1.0" targetFramework="net472" />
  <package id="SharpKml.Core" version="5.2.0" targetFramework="net472" />
</packages>